.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 700px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-bottom: 50px;
}

.button-refresh {
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 1;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.form {
  position: relative;

  display: inline-flex;
  align-items: flex-end;
  margin-bottom: 30px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.form-control__text,
.form-control__button-add {
  padding: 10px;
}

.form-control__text {
  width: 300px;
  padding: 10px;

  font: inherit;

  color: inherit;
  box-shadow: none;
  border: 1px solid black;
  border-radius: 5px;

  resize: none;

  overflow-wrap: break-word;
}

.form-control__button-add {
  position: absolute;
  top: 3px;
  right: 3px;

  font-size: 18px;
  line-height: 1;

  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;

  cursor: pointer;
}

.note {
  position: relative;

  display: inline-flex;
  width: 300px;
  padding: 20px;
  margin-right: 50px;
  margin-bottom: 50px;

  background-color: #ffffff;
  border: 1px solid black;

  overflow-wrap: anywhere;
}

.note__control-delete {
  position: absolute;
  top: -20px;
  right: -20px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;

  font-size: 30px;

  color: red;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 50%;
  text-decoration: none;
  user-select: none;
}